.hmm {
  color: rgb(80, 112, 255);
  width: 150px;
  margin-left: 700px;
  font-size: 60px;
  display: flex;
  margin-top: -1000px;
  background-image: url("https://images.squarespace-cdn.com/content/v1/5f65c0944f0cbf3a4f7699fc/1618389346772-2KOO2IY960JKYV501Z6O/Jumping-Smiles-2.gif?format=2500w");
}

.btn {
  background-color: cornflowerblue;
  color: aliceblue;
  width: 100px;
  height: 50px;
}

.form {
  margin-left: 900px;
  margin-top: 90px;
  width: 800px;
  height: 400px;
}

.new {
  width: 650px;
  height: 40px;
  margin-left: -400px;
}

.all {
  border: 100px solid rgb(244, 244, 246);
  background-image: url("https://images.squarespace-cdn.com/content/v1/5f65c0944f0cbf3a4f7699fc/1618389346772-2KOO2IY960JKYV501Z6O/Jumping-Smiles-2.gif?format=2500w");
}

.no {
  border-left: 25px solid rgb(247, 247, 250);
  height: 980px;
  position: absolute;
  left: 30%;
  margin-left: -5px;
  top: 90px;
}

.div {
  width: 20rem;
  height: 20rem;
}

.real {
  width: 25rem;
  height: 63rem;
  background-color: rgb(182, 203, 242);
  font-size: xx-large;
  text-align: center;
  background-color: rgb(91, 101, 150);
}

.para {
  margin-top: 90px;
  color: rgb(249, 245, 249);
}

.index {
  background-color: #90d4cb;
  padding: 8px;
  border-radius: 8px;
  width: 100px;
  height: 50px;
  margin-top: 10px;
}

/* Media Query */
@media only screen and  (max-width: 600px) {
  /* Add your responsive styles here */
  .hmm {
    width: auto;
    margin-left: 0;
    margin-top: 0;
  }

  .btn {
    width: 80px;
    height: 40px;
  }

  .form {
    margin-left: 0;
    margin-top: 30px;
    width: 100%;
  }
  .new {
    width: 650px;
    height: 40px;
    margin-left: -400px;
  }
  
  .all {
    border: 100px solid rgb(244, 244, 246);
    background-image: url("https://images.squarespace-cdn.com/content/v1/5f65c0944f0cbf3a4f7699fc/1618389346772-2KOO2IY960JKYV501Z6O/Jumping-Smiles-2.gif?format=2500w");
  }
  
  .no {
    border-left: 25px solid rgb(247, 247, 250);
    height: 980px;
    position: absolute;
    left: 30%;
    margin-left: -5px;
    top: 90px;
  }
  
  .div {
    width: 20rem;
    height: 20rem;
  }
  
  .real {
    width: 25rem;
    height: 63rem;
    background-color: rgb(182, 203, 242);
    font-size: xx-large;
    text-align: center;
    background-color: rgb(91, 101, 150);
    
  }
  
  .para {
    margin-top: 90px;
    color: rgb(249, 245, 249);
  }
  
  .index {
    background-color: #90d4cb;
    padding: 8px;
    border-radius: 8px;
    width: 100px;
    height: 50px;
    margin-top: 10px;
  }
  
  /* Add more responsive styles as needed */
}
